<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security入门</title>
    </head>
<body>
<h1>欢迎使用Spring Security!</h1>
<div th:if="${session.SPRING_SECURITY_CONTEXT} == null"><p>点击 <a th:href="@{/app/001}">这里</a>进入APP01</p></div>
<div th:if="${session.SPRING_SECURITY_CONTEXT} != null"><p>点击 <a th:href="@{/app/001}" target="_blank">这里</a>新Tab进入APP01</p></div>
</body>
</html>
